.body {
  ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  li {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    img {
      margin-top:13px;
    }
  }
}


.btnSocial {
  display: block;
  text-align: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  line-height: inherit;
  color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 12px 18px -10px rgba(25, 74, 179, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width:60px;
  height: 60px;
  border: 2px solid #1c96fb;
}

.btnSocial:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px 6px rgba(25, 74, 179, 0.15);
  -webkit-transition: all 0.5s ease 0s, transform 400ms !important;
  transition: all 0.5s ease 0s, transform 400ms !important;
}

.btnSocial:active {
  -webkit-transition: all 0s linear 0.4s, transform 40ms !important;
  transition: all 0s linear 0.4s, transform 40ms !important;
  transform: translateY(-2px);
  transition: box-shadow 0s linear 0s !important;
  box-shadow: 0 12px 18px -10px rgba(25, 74, 179, 0.5) !important;
}
