.body {
  ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  li {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    img {
      margin-top:13px;
    }
  }
}


.btnSocial {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width:60px;
  height: 60px;
  border: solid 2px #1c96fb;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.btnSocial:hover, .btnSocial:active  {
  background-color: #1c96fb;
  object-fit: contain;
  transform: translateY(-5px);
  -webkit-transition: all 0.5s ease 0s, transform 400ms !important;
  transition: all 0.5s ease 0s, transform 400ms !important;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook {
  background-image: url(images/fb.svg);
}

.facebook:hover, .facebook:active {
  background-image: url(images/fb_hover.svg);
}

.linkedin {
  background-image: url(images/li.svg);
}

.linkedin:hover, .linkedin:active {
  background-image: url(images/li_hover.svg);
}
