.body {
  background-color: #fff;
  max-width: 280px;
  margin: 0 auto; 
  padding: 14px; 
  border-radius: 5px;
  height: 390px;
  box-shadow: 0 0 1.5px 1px rgba(0, 0, 0, 0.15);
  padding: 20px 10px;
}

.forgotLink{
	margin: 10px 0px;
}

