.btnLandingDefault {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 18px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  margin: 0px auto 0;
  background-image: linear-gradient(284deg, #f8a36f, #f56868);
  box-shadow: 0 2px 2px 0 #d7dade;
  object-fit: contain;
}

.btnLandingDefault:hover, .btnLandingDefault:active {
  transform: translateY(-5px);
  box-shadow: 0 5px 6px 0 #d7dade;
  -webkit-transition: all 0.5s ease 0s, transform 400ms !important;
  transition: all 0.5s ease 0s, transform 400ms !important;
}

.btnAnchor {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #8d95a3;
}
