@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,700);

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

#main {
  height: 100%;
}
